<html>  
<head>  
    <title>upload the file : GFG</title>  
</head>  
<body>  
    <form action = "/successful" method = "post" enctype="multipart/form-data">  
        <label for="file">Select CNIC PIC base64 file</label><br>
        <input style="padding: 10px;" type="file" name="cnic_front" /> <br> 
        <label for="fil">Select user dp base64 file</label><br>
        <input style="padding: 10px;" type="file" name="cnic_back" /><br>
        <label for="fil">Select user dp base64 file</label><br>
        <input style="padding: 10px;" type="file" name="dp" /><br>
        <input type = "submit" value="Upload">  
    </form>  
    <form action = "/fingers" method = "post" enctype="multipart/form-data">  
        <label for="file">Select CNIC PIC base64 file</label><br>
        <input style="padding: 10px;" type="file" name="hand" /> <br> 
        <input type = "submit" value="Upload">  
    </form>  
</body>  
</html>